.dart_tool/
.packages
.pub/
build/
flutter_*.png
generated/
*.iml
.idea/
.metadata
*.lock
**/android/.gradle/
**/android/app/build/
**/android/local.properties
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
*.jks
*.keystore
